@tailwind base;
@tailwind components;
@tailwind utilities;


.login-box {
    z-index: 10;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, .7);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 10px;
}

.login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}

.login-box .user-box {
    position: relative;
}

.login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

.login-box .user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .3s;
}

.login-box .user-box input:focus~label,
.login-box .user-box input:valid~label {
    top: -20px;
    left: 0;
    color: #03e9f4;
    font-size: 12px;
}

.login-box form button {
    position: relative;
    display: block;
    text-align: center;
    padding: 10px 10px;
    color: #03e9f4;
    font-size: 16px;
    border: none;
    background: transparent;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 10px;
    margin-bottom: 10px;
    letter-spacing: 4px;
    cursor: pointer;
}

.login-box button:hover {
    background: #03e9f4;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #B3E5FC,
        0 0 25px #03e9f4,
        0 0 50px #03e9f4,
        0 0 100px #B3E5FC;
}

.login-box button span {
    position: absolute;
    display: block;

}

.login-box button span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #03e9f4);
    animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
    0% {
        left: -100%;
    }

    50%,
    100% {
        left: 100%;
    }
}

.login-box a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #03e9f4);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s
}

@keyframes btn-anim2 {
    0% {
        top: -100%;
    }

    50%,
    100% {
        top: 100%;
    }
}

.login-box a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #03e9f4);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s
}

@keyframes btn-anim3 {
    0% {
        right: -100%;
    }

    50%,
    100% {
        right: 100%;
    }
}

.login-box a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #03e9f4);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s
}

@keyframes btn-anim4 {
    0% {
        bottom: -100%;
    }

    50%,
    100% {
        bottom: 100%;
    }
}

.blur-effect {
    filter: blur(10px);
}

@layer utilities {
    .bg-gif {
        background-image: url('3.gif');
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
        width: 100vw;

    }
}

:root {
    /* Define a default background or leave it unset */
    --background-design: url('2.gif');
}

@layer utilities {
    .bg-dynamic {
        background-image: var(--background-design);
        background-size: cover;
        background-repeat: no-repeat;
    }
}

.login-box .account-link {
    display: inline;
    text-align: left;
    padding: 0;
    margin-top: 0px;
    letter-spacing: normal;
    background: none;
    border-radius: 0px;
    box-shadow: none;
    overflow: visible;
    position: static;
    width: auto;
    color: inherit;
    font-size: small;
}

.login-box .account-link:hover {
    background: none;
    color: #03e9f4;
    box-shadow: none;
    text-decoration: underline;
}

@layer utilities {
    .login-gif {
        background-image: url('newlogin.gif');
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
        width: 100vw;


    }
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #1c1c1c;
}

::-webkit-scrollbar-thumb {
    background: #131313;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #242424;
}

.anim {
    animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) 0.2s both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

@keyframes anim {

    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }

    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%,
    60% {
        transform: translate3d(4px, 0, 0);
    }
}

.chat-bubble {
    white-space: normal;
    overflow-wrap: break-word;
    max-width: 450px;

}

.form-container {
    max-width: 100%;
    overflow-x: hidden;
    /* Hide horizontal overflow */
}

.file-details-container {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    overflow-x: auto;
    padding-bottom: 8px;
    /* Space for scrollbar */
    max-width: 100%;
    /* Restrict max width */
}

.file-details {
    flex: 0 0 auto;
    box-sizing: border-box;
    /* Include padding and borders in width */
}

.image-container {
    position: relative;
    /* Container relative to place the X button absolutely */
}

.image-preview {
    width: 35px;
    /* Adjust the image preview size */
    height: 35px;
    border-radius: 30%;
    /* Additional styles */
}

.remove-file-button {
    position: absolute;
    /* Position the button absolutely within the .file-details */
    top: 0;
    /* Position at the top */
    right: 0;
    /* Position to the right */
    background-color: #fff;
    /* Background to make it visible on top of the image */
    border: none;
    /* Remove default button border */
    cursor: pointer;
    /* Change cursor on hover */
    /* Additional styles for aesthetics */
}

.attachment-image {
    width: 200px;
    border-radius: 5%;
    /* Example size, adjust as needed */
    height: auto;
    cursor: pointer;
    margin-bottom: 15px;
    /* Indicates the image is clickable */
}

.image-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    /* High z-index to be on top of other content */
}

.enlarged-image {
    max-width: 80%;
    max-height: 80%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.download-link {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    padding: 8px;
    /* Adjust the color to match your theme */
    color: white;
    border-radius: 4px;
    text-decoration: none;
    /* Removes underline from the link */
}

.download-link:hover {
    background: #0b10ff;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 2px #999bff,
        0 0 25px #0a0ee6,
        0 0 50px #2528ff,
        0 0 100px #b4b3fc;
}

.edit-profile-form-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.645);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.edit-profile-form {
    background: #000000cb;
    padding: 20px;
    border-radius: 8px;
    width: 90%;
    max-width: 400px;
}

.form-layout {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="password"],
.form-group input[type="file"] {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    background-color: #012f2c9c;
    border: 1px solid #ccc;
}

.form-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.update-btn,
.close-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.update-btn {
    background-color: #4CAF50;
    /* Green */
    color: white;
}

.close-btn {
    background-color: #f44336;
    /* Red */
    color: white;
}